/*Above will be some root parameters such as font-family, font-sizes, mobile repsonsiveness*/
:root {
    --clr-primary-100: rgb(53, 53, 53); /*This is color for the text*/
    --clr-primary-200: rgb(250, 241, 241); /*This will be the background color of the webpage*/
    --clr-primary-300: rgb(100, 100, 100); /*Color of computer box*/
    --clr-primary-400: rgb(100, 100, 100); /*This will be the footer color*/

    --clr-accent-100: rgb(128, 114, 114); /*This will be the color of the computer box*/
    --clr-accent-200: rgb(24, 85, 228); /*This will be the color of the buttons to add or decrease a number*/
    --clr-button-100: rgb(24,85,228); /*This is the color of the buttons*/

    --clr-secondary-200: rgb(255, 255, 255);/*Secondary text which is to be white and used in buttons*/

    --ff-primary: 'Nunito Sans';

    --fs-100: 1.3rem; /*This is the game intro / title size*/
    --fs-200: 1.125rem; /*This is the round number size*/
    --fs-300: 1.875rem; /*Target number text*/
    --fs-400: 1.125rem;/*This is for the player name text*/
    --fs-500: 0.875rem; /*This is for the score count memory*/
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Below will be the CSS for aligning all the content...The content seems to be aligned to the middle with the footer containing a full spread maybe flexbox space around...*/

.container {
  text-align: center;
}

.guessing-area {
  display: flex;
  justify-content: center;
  text-align: center;
}

.computer-guess {
  border: 1px solid rgb(0, 0, 0);
}

.human-guess {
  border: 1px solid rgb(0, 0, 0);
}

.next-round {
  text-align: center;
}

.human-guess {
  display: flex;
  flex-direction: column;
}

.instructions {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.guess {
  align-items: center;
}

.computer-guess {
  border: .10rem solid rgb(0, 0, 0);
}

.human-guess {
  display: flex;
  border: .10rem solid rgb(0, 0, 0);
}

.padding-target-number {
  padding-top: 2rem;
}

@media (min-width: 48em) {

}
/*
Below will be the Utility classes
================================================================================================
KEEP THE UTILITY CLASSES AT THE BOTTOM OF THE CSS STYLESHEET!!!!!!
*/
.main-txt {
    color: var(--clr-primary-100);
    font-size: var(--fs-100);
    font-weight: bold;
    padding-top: 1rem;
    font-family: var(--ff-primary);
}

.secondary-txt {
    color: var(--clr-secondary-200);
    font-size: ;
    font-weight: ;
    font-family: ;
    padding-top: ;
    padding-bottom: ;
}

.bg-computer-box {
    background-color: var(--clr-primary-300);
}

.button {
    background-color: var(--clr-button-100);
}

.bg-footer {
    background-color: var(--clr-primary-400);
}